extends layout

block content 
    main
        section.heading 
            h2=title
            .buttons 
                a.btn.btn-edit(href="") Edit 
                a.btn.btn-delete(href="") Delete 
        if products.length > 0
            section.products-list 
                h2 Products in this category
                .cards-grid
                    each el in products 
                        .card
                            .card-heading 
                                h3=el.name
                                a(href=el.url)
                                    ion-icon(name="link") 